body {
  font-family: 'Roboto', sans-serif;
  font-size: 14px;
  background-color: #313638;
}

#title {
  font-family: 'Raleway', serif;
  color: #009FB7;
}

#description {
font-size: 15px;
}

.btn {
  margin-top: 20px;
}

.button {
  width: 100px;
  margin: 0 auto;
}

.container {
  margin-top: 50px;
}

.custom-button {
  background-color: #FED766;
  border-color: #FED766;
}

.btn-primary:hover {
  background-color: #FED766;
  border-color: #E7C45D;
}
